fastapi
uvicorn
python-multipart
pypdf
PyMuPDF
langchain
langchain-community
langchain-openai
chromadb
pydantic
python-dotenv
tiktoken
tenacity
langchain-chroma
langchain-text-splitters
langchain-anthropic
langchain-google-genai
langchain-ollama
